* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  overflow: hidden;
}
img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
h1,
p,
button {
  font-family: "Courier New", Courier, monospace;
}
h1 {
  font-size: 18px;
}
.container {
  max-width: 500px;
  height: 100vh;
  margin: 0 auto;
  background: url(./32686A92-CDF4-470D-B35A-2DD19A529A3C_1_105_c.jpeg) center
    no-repeat;
  background-size: cover;
  position: relative;
}
.question {
  width: 95%;
  max-width: 400px;
  position: absolute !important;
  bottom: 150px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
}
.option {
  width: 100%;
  height: 200px;
  padding: 16px 0;
  position: relative;
}
button {
  width: 80px;
  padding: 8px 4px;
  border: none;
  outline: none;
  border-radius: 5px;
  position: absolute;
  font-size: 16px;
  font-weight: bold;
  background: #fff;
  transition: all 0.5s linear;
}
.farid {
  top: 100px;
  left: 100px;
}
.zoya {
  top: 100px;
  left: 200px;
}
.conclude {
  width: 95%;
  max-width: 400px;
  position: absolute !important;
  bottom: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #fff;
  display: none;
}
